// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#topimage {
  background-image: image-url('top_back.jpg')
}

.subtitle {
  font-color: white;
}

.card-image {
  width: 100%;
  height: 220px;
}

.card-title {
  overflow: hidden;
  line-height: 24px;
  height: 48px;
}

th {
  background: white;
  font-weight: bold;
}
td {
  background: white;
}
